/* start Global Ruls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #FF5100;
    --scoundry-color: #181818;
    --three-color: #a3a3a3;
    /* box-shadow:  6px 6px 7px #532510, -6px -6px 7px #bd5524; */
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-title {
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid var(--main-color);
    padding: 20px;
    border-radius: 7px;
    background-color: #181818;
    width: 100%;
}
.main-title img {
    width: 50px;
}
.main-title h2 {
    color: #eee;
    font-weight: 500;
    line-height: 1;
}
/* Small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Ruls */
/* Start Header */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
@media (max-width: 768px) {
    .header::before,
    .header::after {
        display: none;
    }
    .header {
        border-bottom: 2px solid white;
    }
}
.header::before {
    content: "";
    position: fixed;
    width: 500px;
    height: 470px;
    right: -40px;
    top: -150px;
    background: var(--main-color);
    filter: blur(200px);
    overflow: hidden;
}
.header::after {
    content: "";
    width: 457px;
    height: 457px;
    left: 214px;
    top: 620px;
    position: fixed;
    transform: rotate(135deg);
    filter: blur(100px);
    background-color: var(--main-color);
    opacity: 0.4;
}
.header .container::before{
    content: "";
    width: 457px;
    height: 457px;
    left: 0;
    bottom: 120px;
    position: fixed;
    transform: rotate(135deg);
    filter: blur(100px);
    background-color: var(--main-color);
    opacity: 0.4;
}
.header .container {
    display: flex;
    justify-content: center;
    position: relative;
}
.header .logo .full {
    width: 100px;
    position: relative;
}
.header .logo .activ {
    display: none;
    width: 50px;
    height: 60px;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
    }
    .header .logo .full {
        display: none;
    }
    .header .logo .activ {
        display: block;
    }
}
.header .links {
    display: flex;
    flex: 1;
    justify-content: center;
}
@media (max-width: 768px) {
    .header .links {
        display: none;
    }
}
.header .links ul {
    display: flex;
}
.header .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: #ccc;
    padding: 0 30px;
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
    transition: 0.3s;
}
.header .links a.active,
.header .links a:hover {
    color: white;
}
.header .links a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 16px;
    background-color: white;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    transition: 0.3s;
}
.header .links a.active {
    color: white;
}
.header .links a.active::before {
    width: 75%;
}
.header .links a:hover::before {
    width: 75%;
}
.header .enter {
    text-align: center;
    border: 1px solid var(--main-color);
    color: white;
    background-color: var(--main-color);
    width: 83px;
    height: 36px;
    padding: 7px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .header .enter {
        display: flex;
        width: 100px;
        align-self: center;
    }
}
.header .enter:hover {
    color: black;
    background-color: white;
    border-color: #CCC;
}
/* End Header */
/* start Landing */
.landing {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    height: 100vh;
}
.landing .container {
    position: relative;
}
.landing .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}
@media (max-width: 768px) {
    .landing .content {
        align-items: center;
    }
}
.landing .content h1 {
    color: white;
    font-weight: 600;
    
}
.landing .content h1 span {
    color: var(--main-color);
}
.landing .content p {
    letter-spacing: 0.5px;
    color: #eee;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}
.landing .content .suggest {
    border-radius: 5px;
    color: white;
    border: 2px solid var(--main-color);
    padding: 10px;
}
.landing .boxs {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(62 60 60 / 0%);
    background-color: rgb(62 60 60 / 50%);
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 150px;
}
.landing .box:hover .boxs {
    top: 60px;
}

.landing .boxs .box {
    position: relative;
    display: flex;
    border: 1px solid rgb(62 60 60 / 0%);
    padding: 20px;
    background-color: rgb(62 60 60 / 60%);
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    margin: 0 10px;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .landing .boxs .box {
        margin: 0 2px;
        padding: 10px;
    }
}
.landing .boxs .box:hover {
    background-color: rgba(238, 238, 238, 0.555);
}
.landing .boxs .box i {
    color: #eee;
    font-size: 30px;
}
.landing .boxs .box h3 {
    color: #eee;
    font-weight: 300;
    font-size: 20px;
}
.landing .boxs .box:hover h3,
.landing .boxs .box:hover i {
    color: black;
}
/* End Landing */
/* start movies */
.movies {
    position: relative;
    height: 100vh;
    background-image: url(../imgs/wp9268747-the-conjuring-4k-wallpapers.jpg);
    background-size: cover;
}
@media (max-width:768px) {
    .movies {
        background-image: none;
        height: 100%;
    }
}
.movies::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 45px;
    width: 39%;
    filter: blur(200px);
    height: 75%;
    background-color: rgb(24 24 24 / 100%);
}
.movies .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgb(24 24 24 / 90%);
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin-left: 50px;
    padding-top: 70px;
}
@media (max-width:768px) {
    .movies .content {
        width: 100%;
        background-color: #181818;
        margin: 0;
        padding-top: 0;
    }
}
.movies .content .active {
    display: none;
}
@media (max-width:768px) {
    .movies .content .active {
        display: block;
    }
}
.movies .content h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.movies .content strong span {
    font-size: 14px;
    color: var(--three-color);
    border: 1px solid var(--three-color);
    padding: 4px;
    margin: 0 4px;
    font-weight: 300;
    border-radius: 2px;
}
.movies .content p {
    color: #eee;
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.movies .content .links {
    display: flex;
}
.movies .content .play {
    border: 1px solid var(--main-color);
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: var(--main-color);
    font-weight: 600;
    transition: 0.3s;
}
.movies .content .play i {
    color: black;
}
.movies .content .play a{
    color: black;
}
.movies .content .play:hover {
    background-color: rgb(255 100 0);
    border-color: rgb(255 100 0);;
}
.movies .content .more {
    border: 1px solid #777;
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #777;
    font-weight: 600;
    transition: 0.3s;
}
.movies .content .more i {
    color: #ccc;
}
.movies .content .more a{
    color: #ccc;
}
.movies .content .more:hover {
    background-color: #999;
    border-color: #999;
}
@media (max-width:768px) {
    .movies .content .play,
    .movies .content .more {
        padding: 12px 17px;
    }
}
.movies .other {
    margin-left: 30px;
}
@media (max-width:768px) {
    .movies .other {
        margin-left: 0px;
    }
}
.movies .other h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 17px;
}
@media (max-width:768px) {
    .movies .other h3 {
        font-size: 15px;
        margin-left: 20px;
    }
}
.movies .other .images {
    display: flex;
}
@media (max-width:768px) {
    .movies .other .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .movies .other .images img {
        margin-left: 0;
    }
    .movies .other .images .hide {
        display: none;
    }
}
.movies .other .images img {
    width: 175px;
    margin-left: 5px;
    height: 100%;
    border-radius: 4px;
    transition: 0.3s;
}
.movies .other .images img:hover {
    box-shadow: 0 0px 20px 5px #181818;
}
/* End movies */
/* start series */
.series {
    position: relative;
    height: 100vh;
    background-image: url(../imgs/wp2156334-breaking-bad-poster-4k-wallpapers.jpg);
    background-size: cover;
}
@media (max-width:768px) {
    .series {
        background-image: none;
        height: 100%;
    }
}
.series::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 45px;
    width: 39%;
    filter: blur(200px);
    height: 75%;
    background-color: rgb(24 24 24 / 100%);
}
.series .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgb(24 24 24 / 90%);
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin-left: 50px;
    padding-top: 70px;
}
@media (max-width:768px) {
    .series .content {
        width: 100%;
        background-color: #181818;
        margin: 0;
        padding-top: 0;
    }
}
.series .content .active {
    display: none;
}
@media (max-width:768px) {
    .series .content .active {
        display: block;
    }
}
.series .content h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.series .content strong span {
    font-size: 14px;
    color: var(--three-color);
    border: 1px solid var(--three-color);
    padding: 4px;
    margin: 0 4px;
    font-weight: 300;
    border-radius: 2px;
}
.series .content p {
    color: #eee;
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.series .content .links {
    display: flex;
}
.series .content .play {
    border: 1px solid var(--main-color);
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: var(--main-color);
    font-weight: 600;
    transition: 0.3s;
}
.series .content .play i {
    color: black;
}
.series .content .play a{
    color: black;
}
.series .content .play:hover {
    background-color: rgb(255 100 0);
    border-color: rgb(255 100 0);;
}
.series .content .more {
    border: 1px solid #777;
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #777;
    font-weight: 600;
    transition: 0.3s;
}

.series .content .more i {
    color: #ccc;
}

.series .content .more a{
    color: #ccc;
}

.series .content .more:hover {
    background-color: #999;
    border-color: #999;
}
@media (max-width:768px) {
    .series .content .play,
    .series .content .more {
        padding: 12px 17px;
    }
}
.series .moree {
    margin-left: 30px;
}
@media (max-width:768px) {
    .series .moree {
        margin-left: 0px;
    }
}
.series .moree h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 17px;
}
@media (max-width:768px) {
    .series .moree h3 {
        font-size: 15px;
        margin-left: 20px;
    }
}
.series .moree .images {
    display: flex;
}
@media (max-width:768px) {
    .series .moree .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .series .moree .images img {
        margin-left: 0;
    }
    .series .moree .images .hide {
        display: none;
    }
}
.series .moree .images img {
    width: 175px;
    margin-left: 5px;
    height: 100%;
    border-radius: 4px;
    transition: 0.3s;
}
.series .moree .images img:hover {
    box-shadow: 0 0px 20px 5px #181818;
}
/* End series */
/* start Anime */
.anime {
    position: relative;
    height: 100vh;
    background-image: url(../imgs/wp11151091-one-piece-neon-wallpapers.png);
    background-size: cover;
}
@media (max-width:768px) {
    .anime {
        background-image: none;
        height: 100%;
    }
}
.anime::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 45px;
    width: 39%;
    filter: blur(200px);
    height: 75%;
    background-color: rgb(24 24 24 / 100%);
}
.anime .content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgb(24 24 24 / 90%);
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin-left: 50px;
    padding-top: 70px;
}
@media (max-width:768px) {
    .anime .content {
        width: 100%;
        background-color: #181818;
        margin: 0;
        padding-top: 0;
    }
}
.anime .content .active {
    display: none;
}
@media (max-width:768px) {
    .anime .content .active {
        display: block;
    }
}
.anime .content h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.anime .content strong span {
    font-size: 14px;
    color: var(--three-color);
    border: 1px solid var(--three-color);
    padding: 4px;
    margin: 0 4px;
    font-weight: 300;
    border-radius: 2px;
}
.anime .content p {
    color: #eee;
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.anime .content .links {
    display: flex;
}
.anime .content .play {
    border: 1px solid var(--main-color);
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: var(--main-color);
    font-weight: 600;
    transition: 0.3s;
}
.anime .content .play i {
    color: black;
}
.anime .content .play a{
    color: black;
}
.anime .content .play:hover {
    background-color: rgb(255 100 0);
    border-color: rgb(255 100 0);;
}
.anime .content .more {
    border: 1px solid #777;
    padding: 15px 40px;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #777;
    font-weight: 600;
    transition: 0.3s;
}

.anime .content .more i {
    color: #ccc;
}

.anime .content .more a{
    color: #ccc;
}

.anime .content .more:hover {
    background-color: #999;
    border-color: #999;
}
@media (max-width:768px) {
    .anime .content .play,
    .anime .content .more {
        padding: 12px 17px;
    }
}
.anime .moree {
    margin-left: 30px;
}
@media (max-width:768px) {
    .anime .moree {
        margin-left: 0px;
    }
}
.anime .moree h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 17px;
}
@media (max-width:768px) {
    .anime .moree h3 {
        font-size: 15px;
        margin-left: 20px;
    }
}
.anime .moree .images {
    display: flex;
}
@media (max-width:768px) {
    .anime .moree .images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .anime .moree .images img {
        margin-left: 0;
    }
    .anime .moree .images .hide {
        display: none;
    }
}
.anime .moree .images img {
    width: 175px;
    margin-left: 5px;
    height: 100%;
    border-radius: 4px;
    transition: 0.3s;
}
.anime .moree .images img:hover {
    box-shadow: 0 0px 20px 5px #181818;
}
/* End anime */
/* start popular */
.popular {
    position: relative;
}
.popular .container {
    position: relative;
}
.popular .row {
    position: relative;
}
.popular .row h2{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
.popular .row .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    text-align: center;
}
.popular .row .box a {
    position: relative;
    transition: 0.3s;
}
.popular .row .box a:hover {
    box-shadow: 0 0px 20px 5px #181818;
}
.popular .row .box a .left {
    position: absolute;
    color: rgb(255 30 0);
    left: 0px;
    top: 30%;
    transform: translateX(-50%);
}
.popular .row .box a .right {
    position: absolute;
    color: rgb(255 30 0);
    right: -20px;
    top: 30%;
    transform: translateX(-50%);
}
.popular .row .box img {
    width: 100px;
    height: 75%;
    border-radius: 5px;
}
.popular .row .box h3 {
    text-align: center;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}
.popular .end {
    margin-top: 15em;
    z-index: -10;
}
.popular .end h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 0;
}
.popular .end .down {
    font-size: 40px;
    color: rgb(255 30 0);
    position: relative;
    display: flex;
    justify-content: center;
}
.popular .end .show {
    filter: blur(5px);
}
.popular .end .blur {
    filter: blur(10px);
}
/* .popular .end::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #181818;
} */
/* end popular */
/* Start footer */
.footer {
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 100%);
}
.footer .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 100px;
}
@media (max-width: 740px) {
    .footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
    }
}
.footer .links {
    position: relative;
}
.footer .links li {
    margin-top: 50px;
}
.footer .links a {
    color: #8c8c8c;
    font-weight: 400;
    font-size: 14px;
}
.footer .social {
    display: flex;
    justify-content: space-evenly;
}
.footer .social i {
    color: #8c8c8c;
    font-size: 25px;
    transition: 0.3s;
}
.footer .social .fb:hover {
    color: #3578E5;
}
.footer .social .twit:hover {
    color: rgb(29, 155, 240);;
}
.footer .social .in:hover{
    color: #0a66c2;
}
.footer .social .ig:hover {
    color: #E4405F;
}
/* End footer */
/* start animtion */
/* End animtion */
