/* start global ruls */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #66bef9;
  --scondry-color: #309af1;
  --paragraph-color: #767676;
  --dark-color: #050307;
  --html-color: #f44336;
  --css-color: #0b93ff;
  --js-color: rgb(247, 223, 30);
  --bootstp-color: #7611f6;
  --tailwind-color: #38bdf8;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-color);
  color: hsl(0, 0%, 100%);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: auto;
}

.stars {
  position: fixed;
  overflow: hidden;
  text-align: center;
  width: 100%;
  pointer-events: none;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls */
/* start landing */
header {
  padding: 20px 0;
  position: relative;
}
header .container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 150px;
}
header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--scondry-color);
}
/*  */
main {
  position: relative;
  padding: 50px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
main .head-text {
  text-align: center;
}
main .head-text h3 {
  font-size: 26px;
  color: var(--main-color);
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
main .project {
  position: relative;
  padding: 50px 0;
}
main .project::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--scondry-color);
}
main .project .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 1075px) {
  main .project .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (max-width: 768px) {
  main .project .container {
    display: grid;
    grid-template-columns: none;
    gap: 60px;
  }
}
main .project .card {
  position: relative;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 1px 5px 16px 1px black;
}
main .project .card.sign-up {
  background-color: #bc2666;
}
main .project .card.kasper {
  background-color: #1165c1;
}
main .project .card.blog {
  background-color: #151515;
}
main .project .card.landing-one {
  background-color: #398378;
}
main .project .card.landing-two {
  background-color: #210535;
}
main .project .card.kitchen {
  background-color: rgb(247, 223, 30);
}
main .project .card.kitchen h4 {
  color: var(--dark-color);
}
main .project .card.kitchen .info p {
  color: #767676;
}
main .project .card.kitchen .tag-language {
  border-color: var(--dark-color);
}
main .project .card.kitchen .tag-language span {
  color: var(--dark-color);
}
main .project .card.restaurant {
  background-color: #eae5d9;
}
main .project .card.card.restaurant h4 {
  color: var(--dark-color);
}
main .project .card.card.restaurant .info p {
  color: #767676;
}
main .project .card.card.restaurant .tag-language {
  border-color: var(--dark-color);
}
main .project .card.card.restaurant .tag-language span {
  color: var(--dark-color);
}
main .project .card.card.landing-three {
  background-color: #ff0303cb;
}
main .project .card.card.read-me {
  background-color: #3a0ca3;
}
main .project .card.card.tech {
  background-color: #0156ff;
}
main .project .card.card.news-sign-up {
  background-color: #ff5371;
}
main .project .card.card.news-sign-up .info p {
  color: #fff;
}
main .project .card .image img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
main .project .card .info {
  padding: 0 20px;
}
main .project .card .info h4 {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 2px;
}
main .project .card .info p {
  margin-top: 20px;
  color: #ccc;
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: 1px;
}
main .project .card .demo a {
  padding: 11px 20px;
  background-color: var(--dark-color);
  color: var(--paragraph-color);
  font-weight: 700;
  border-radius: 4px;
  letter-spacing: 1px;
  transition: 0.3s;
}
main .project .card .demo a:hover {
  background-color: black;
  color: var(--scondry-color);
}
main .project .card .tag-language {
  border-top: 1px solid #f6d7d6;
  padding: 30px;
}
main .project .card .tag-language span {
  padding: 5px 10px;
  color: #9cdeeb;
  letter-spacing: 1px;
  font-weight: 700;
}
main .skills {
  position: relative;
  padding: 50px 0;
}
@media (max-width: 768px) {
  main .skills {
    display: none;
  }
}
main .skills .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
main .skills .skill {
  position: relative;
  text-align: center;
}
main .skills .skill h3 {
  position: relative;
  font-size: 50px;
  margin: auto;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
  transition: 0.3s;
}
main .skills .skill h3::before {
  content: attr(data-stroke);
  position: absolute;
  left: 0;
  -webkit-text-fill-color: var(--html-color);
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
main .skills .skill h3:hover::before {
  width: 100%;
  filter: drop-shadow(2px 4px 6px var(--html-color));
  -webkit-text-stroke: var(--html-color);
}
main .skills .css h3::before {
  -webkit-text-fill-color: var(--css-color);
}
main .skills .css h3:hover::before {
  filter: drop-shadow(2px 4px 6px var(--css-color));
  -webkit-text-stroke: var(--css-color);
}
main .skills .js h3::before {
  -webkit-text-fill-color: var(--js-color);
}
main .skills .js h3:hover::before {
  filter: drop-shadow(2px 4px 6px var(--js-color));
  -webkit-text-stroke: var(--js-color);
}
main .skills .botstp h3::before {
  -webkit-text-fill-color: var(--bootstp-color);
}
main .skills .botstp h3:hover::before {
  filter: drop-shadow(2px 4px 6px var(--bootstp-color));
  -webkit-text-stroke: var(--bootstp-color);
}
main .skills .tailwind h3::before {
  -webkit-text-fill-color: var(--tailwind-color);
}
main .skills .tailwind h3:hover::before {
  filter: drop-shadow(2px 4px 6px var(--tailwind-color));
  -webkit-text-stroke: var(--tailwind-color);
}
