/* start global ruls */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #66bef9;
  --scondry-color: #309af1;
  --paragraph-color: #767676;
  --dark-color: #050307;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
  background-color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.stars {
  position: fixed;
  overflow: hidden;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.container {
  padding: 0 15px;
  margin: auto;
}

.load-page {
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: fixed;
  display: flex;
  gap: 10px;
  height: 100vh;
  margin: auto;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  z-index: 10;
}

.load-page span {
  height: 50px;
  border: 3px solid #fff;
  width: 50px;
  border-radius: 50%;
  background-color: #222;
  transition: 0.3s;
  animation: load 1s ease infinite forwards;
}

.load-page span:nth-child(2) {
  animation-delay: 0.2s;
}

.load-page span:nth-child(3) {
  animation-delay: 0.4s;
}

.load-page span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes load {
  50% {
    background-color: #fff;
  }
  100% {
    animation-delay: 3s;
    background-color: #222;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls */
/* start landing */
.landing {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  transition: 0.3s;
}

.landing .container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .landing {
    background-image: none;
  }
}

.landing .heading-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  animation: rise 1s ease-in-out forwards;
}

.landing .heading-text span {
  color: var(--scondry-color);
  opacity: 0;
  animation: rise-khaled 1.8s ease-in-out forwards 0.5s;
}

/* end landing */
main {
  background-color: var(--dark-color);
}

/* start about */
.about {
  position: relative;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}

.opacity {
  top: -10vh;
  opacity: 1;
  transition: 1s;
}

.about .container {
  position: relative;
  background-color: #000;
  padding: 20px;
  box-shadow: 0 0 11px 2px black;
}

.about h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.about p {
  color: var(--main-color);
  text-align: center;
  margin: 40px 0;
  line-height: 1.8;
  font-weight: 400;
}
.about .project {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-color);
  font-size: 18px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  font-weight: 600;
}
.about .project:hover {
  background-color: #309af1;
  color: black;
}
.about .project span {
  position: absolute;
  display: block;
  background-color: brown !important;
}

.about .project span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--main-color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.about .project span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--main-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.about .project span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--main-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.about .project span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--main-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* end about */
/* start contact */
.contact {
  position: relative;
  padding: 70px 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}
.opacity-two {
  top: -10vh;
  opacity: 1;
  transition: 1s 0.5s;
}
.contact .container {
  position: relative;
}
.contact .social {
  display: flex;
  justify-content: space-between;
}
.contact .social img {
  width: 140px;
  transition: 0.5s;
}
.contact .social img:hover {
  filter: grayscale();
}
@media (max-width: 768px) {
  .contact .social img {
    width: 100px;
  }
}
.contact .mail {
  text-align: center;
  margin-top: 50px;
}
.contact .mail a {
  padding: 13px 25px;
  background-color: var(--main-color);
  color: var(--dark-color);
  font-weight: 700;
  transition: 0.5s;
}
.contact .mail a:hover {
  background-color: black;
  color: var(--scondry-color);
}
/* end contact */
/* start footer */
footer {
  position: relative;
  background: black;
  height: 30vh;
}
footer h4 {
  color: var(--scondry-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  letter-spacing: 3px;
}
/* end footer */
/* start animation */
@keyframes rise {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes rise-khaled {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}
/* end animation */
