$paypal_color: #ffb800;
$zip_color: #00aeb8;

// start about product
.about-product {
  position: relative;
  padding: 22px 0;
  border-bottom: 1px solid var(--text-color);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-info {
    display: flex;
    gap: 15px;
    .item {
      position: relative;
      padding: 10px;
      color: var(--text-color);
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: var(--dark-color);
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: var(--main-color);
        transition: 0.3s;
      }
    }
    .active {
      color: var(--dark-color);
      &::before {
        left: 0;
        width: 100%;
      }
    }
  }
  .product-pay {
    display: flex;
    gap: 12px;
    align-items: center;
    #item-count {
      width: 60px;
      padding: 4px 10px;
      border: none;
      outline: none;
      &::-webkit-inner-spin-button {
        padding: 5px;
        opacity: 1;
      }
    }
    .add-cart {
      color: #fff;
      background-color: var(--main-color);
      padding: 15px 25px;
      border-radius: 30px;
    }
    .paypal {
      color: #fff;
      background-color: $paypal_color;
      padding: 15px 25px;
      border-radius: 30px;
    }
  }
  @media (max-width: 992px) {
    .container {
      flex-direction: column;
      gap: 30px;
    }
  }
  @media (max-width: 575px) {
    .product-pay {
      flex-direction: column;
    }
  }
}
// start product content
.product-content {
  position: relative;
  padding: 40px 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 53%;
    height: 100%;
    z-index: -1;
  }
  @media (max-width: 1340px) {
    &::before {
      width: 47%;
    }
  }
  @media (max-width: 1200px) {
    &::before {
      width: 37%;
    }
  }
  @media (max-width: 991px) {
    &::before {
      width: 100%;
      height: 48%;
    }
  }
  .product-info {
    flex: 1;
    .drop-right {
      padding: 20px 0;
      .home-link {
        color: var(--dark-color);
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
      .contact-link {
        @extend .home-link;
      }
    }
    .product-title {
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0;
    }
    .be-the-first {
      color: var(--main-color);
      line-height: 1.4;
      padding-bottom: 20px;
    }
    .about-pro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      list-style: disc;
      margin-left: 50px;
      transition: 0.3s ease-in-out;
      user-select: none;
      width: 320px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 400;
      padding-bottom: 20px;
    }
    .about-pro.active {
      position: relative;
      top: 0;
      transform: translateY(0);
      opacity: 1;
      margin-left: 0;
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      list-style: disc;
      margin-left: 50px;
      transition: 0.3s ease-in-out;
      user-select: none;
      li {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 500;
      }
    }
    .details.active {
      position: relative;
      top: 0;
      transform: translateY(0);
      opacity: 1;
      margin-left: 0;
    }
    .space {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      list-style: disc;
      margin-left: 50px;
      transition: 0.3s ease-in-out;
      user-select: none;
      background-color: #fff;
      width: 200px;
      border: 2px solid var(--text-color);
      .cpu {
        padding: 10px 22px;
        display: flex;
        justify-content: space-around;
      }
      .featured {
        @extend .cpu;
        background-color: var(--background-color);
      }
      .ports {
        @extend .cpu;
      }
    }
    .space.active {
      position: relative;
      top: 0;
      transform: translateY(0);
      opacity: 1;
      margin-left: 0;
    }
    .colors {
      display: flex;
      gap: 10px;
      li {
        position: relative;
        width: 30px;
        margin: 20px 0;
        height: 30px;
        border-radius: 50%;
        background-color: #4b4d4f;
        border: 3px solid #fff;
        outline: 3px solid var(--main-color);
      }
    }
    .more-info {
      display: flex;
      justify-content: space-between;
      .qeustion {
        font-weight: 600;
        .contact {
          color: var(--main-color);
          text-decoration: underline;
        }
      }
    }
  }
  .product-image {
    position: relative;
    text-align: center;
    .icons {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .activity-icon {
        color: var(--text-color);
        padding: 6px;
        border: 3px solid var(--text-color);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: var(--main-color);
          border-color: var(--main-color);
        }
      }
    }
    .zip-offer {
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-color);
      padding: 25px;
    }
    .zip-logo {
      padding: 10px;
      border-right: 2px solid $zip_color;
    }
    .zip-info {
      font-size: 18px;
      font-weight: 400;
      .offer-link {
        text-decoration: underline;
        font-size: 16px;
        color: var(--main-color);
      }
    }
  }
  @media (max-width: 992px) {
    .container {
      gap: 20px;
      flex-direction: column;
    }
  }
}
//
.more-information {
  padding: 30px 0;
}
// start outplay
.outplay {
  padding: 30px 0;
  position: relative;
  width: 100%;
  background-color: var(--dark-color);
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 100px;
    height: 74%;
    width: 20%;
    background: linear-gradient(
      to right,
      var(--dark-color) 0%,
      transparent 100%
    );
    z-index: 1;
    filter: blur(50px);
  }
  .container {
    display: flex;
    align-items: center;
  }
  .outplay-content {
    .outplay-title {
      font-size: 30px;
      font-weight: 500;
      color: #fff;
      padding: 20px 0;
    }
    .outplay-info {
      font-size: 16px;
      font-weight: 200;
      line-height: 1.4;
      color: #fff;
    }
    .all-name {
      padding: 20px 0;
      @extend .outplay-info;
    }
  }
  .intel-img {
    position: relative;
    width: 100%;
  }
  @media (max-width: 1200px) {
    .container {
      text-align: center;
      flex-direction: column-reverse;
    }
  }
}
// start support
.support {
  position: relative;
  width: 100%;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .link {
      padding: 15px 15px;
      width: 380px;
      border: 1px solid var(--text-two-color);
      border-radius: 8px;
      font-size: 18px;
      font-weight: 400;
      color: var(--dark-color);
      display: flex;
      gap: 30px;
      justify-content: space-between;
      transition: 0.3s;
      .arrow {
        color: var(--main-color);
        transition: 0.3s;
      }
      &:hover {
        background-color: var(--background-color);
        .arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  .support-img {
    position: relative;
    width: 100%;
  }
  @media (max-width: 1050px) {
    .container {
      flex-direction: column;
    }
    .links {
      padding-top: 30px;
    }
  }
}
// start featues
.featues {
  width: 100%;
  position: relative;
  padding: 50px 0;
  background-color: var(--dark-color);
  z-index: 2;
  .container {
    position: relative;
    color: #fff;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 100%;
      background-color: #191818;
      filter: blur(80px);
      z-index: 1;
    }
  }
  .featues-head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 1;
    .featues-title {
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0;
    }
    .featues-info {
      line-height: 1.5;
      width: 330px;
    }
  }
  .featues-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    .col {
      position: relative;
      z-index: 1;
      .icon {
        position: relative;
        padding: 20px;
        background-color: black;
        border-radius: 50%;
        width: 120px;
      }
      .icon-info {
        padding: 20px;
        line-height: 1.5;
        font-weight: 200;
      }
    }
  }
}
//
.services {
  background-color: var(--background-color);
}
