.contact {
  position: relative;
  padding: 20px 0;
  .container {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .contact-info {
    position: relative;
    width: 100%;
    flex: 2;
    .drop-right {
      padding: 20px 0;
      .home-link {
        color: var(--dark-color);
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
      .contact-link {
        @extend .home-link;
      }
    }
    .contact-title {
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0;
    }
    .contact-text {
      line-height: 1.5;
      font-weight: 400;
    }
    .contact-inputs {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px 0;
      .name-email {
        display: flex;
        gap: 30px;
      }
      .user-box {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          font-size: 14px;
          font-weight: 600;
          span {
            color: var(--false-color);
          }
        }
        input {
          outline: none;
          border: 1px solid var(--text-color);
          padding: 14px 10px;
          font-size: 16px;
          caret-color: var(--main-color);
          &::placeholder {
            transition: opacity 0.3s;
          }
          &:focus::placeholder {
            opacity: 0;
          }
        }
        #phone {
          width: 400px;
        }
        #comment {
          @extend input;
        }
      }
      .submit {
        position: relative;
        width: fit-content;
        border: none;
        background-color: var(--main-color);
        color: #fff;
        padding: 16px 45px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: var(--dark-color);
        }
      }
    }
  }
  @media (max-width: 992px) {
    #phone {
      width: 345px !important;
    }
  }
  @media (max-width: 767px) {
    .contact-info {
      .name-email {
        flex-direction: column;
      }
    }
  }
  .contact-address {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      line-height: 1.4;
      .heading {
        display: flex;
        align-items: center;
        gap: 10px;
        .address-title {
          font-size: 18px;
          font-weight: 600;
        }
        .icon {
          border: 2px solid black;
          padding: 5px 5px;
          border-radius: 50%;
        }
      }
    }
    .email {
      .info {
        color: var(--main-color);
      }
    }
  }
  @media (max-width: 992px) {
    .contact-address {
      display: none;
    }
  }
}
.services {
  background-color: var(--background-color);
}
