.dashboard {
  position: relative;
  padding: 20px 0;
  .dashboard-info {
    .drop-right {
      padding: 20px 0;
      .home-link {
        color: var(--dark-color);
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
      .dashboard-link {
        @extend .home-link;
      }
    }
    .dash-title {
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0;
    }
    .dash-about {
      display: flex;
      gap: 20px;
      .dashboard-list {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: opacity 0.1s;
        .dashboard-sections {
          position: relative;
          background-color: var(--background-color);
          display: flex;
          flex-direction: column;
          gap: 20px;
          .sections {
            position: relative;
            border-bottom: 1px solid var(--text-two-color);
            display: grid;
            .section {
              position: relative;
              padding: 18px 22px;
              transition: 0.3s;
              .section-title {
                font-size: 13px;
                font-weight: 600;
                color: var(--text-three-color);
                transition: 0.3s;
                cursor: pointer;
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 4px;
                height: 0px;
                border-radius: 10px;
                background-color: var(--main-color);
                transition: 0.3s;
              }
            }
            .section.active {
              .section-title {
                color: var(--dark-color);
              }
              &::before {
                height: 26px;
              }
            }
          }
        }
        .compare {
          padding: 14px 8px;
          @extend .dashboard-sections;
          text-align: center;
        }
        .wish-list {
          @extend .compare;
        }
      }
      .account-information {
        flex: 4;
        .about-account {
          margin-bottom: 50px;
          .account-info-title {
            padding: 10px 0;
            border-bottom: 1px solid var(--text-two-color);
          }
          .more-account-info {
            display: flex;
            gap: 140px;
            .contact-info {
              display: flex;
              flex-direction: column;
              gap: 4px;
              gap: 30px;
              .contact-title {
                padding: 10px 0;
                font-weight: 500;
              }
              .contact-text {
                display: grid;
                gap: 5px;
                .user-name {
                  color: var(--text-three-color);
                }
                .user-email {
                  color: var(--text-three-color);
                }
              }
              .edit-pass {
                display: flex;
                gap: 35px;
                .contact-edit {
                  color: var(--main-color);
                  font-weight: 400;
                  text-decoration: underline;
                }
                .change-pass {
                  @extend .contact-edit;
                }
              }
            }
            .newsletters {
              @extend .contact-info;
              justify-content: space-between;
              .news-title {
                padding: 10px 0;
                font-weight: 500;
              }
              .news-text {
                color: var(--text-three-color);
              }
              .news-edit {
                color: var(--main-color);
                font-weight: 400;
                text-decoration: underline;
              }
            }
          }
          @media (max-width: 1170px) {
            .more-account-info {
              gap: 0;
              justify-content: space-between;
            }
          }
          @media (max-width: 757px) {
            .more-account-info {
              flex-direction: column;
              gap: 40px;
            }
          }
        }
        .address-book {
          .address-head {
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 1px solid var(--text-two-color);
            .address-title {
              padding: 10px 0;
            }
            .manage-addresses {
              color: var(--main-color);
              font-weight: 400;
              text-decoration: underline;
            }
          }
          .about-billing {
            .more-billing-info {
              display: flex;
              gap: 80px;
              .billing-info {
                display: flex;
                flex-direction: column;
                gap: 4px;
                gap: 30px;
                .billing-title {
                  padding: 10px 0;
                  font-weight: 500;
                }
                .billing-text {
                  color: var(--text-three-color);
                }
                .billing-edit {
                  color: var(--main-color);
                  font-weight: 400;
                  text-decoration: underline;
                }
              }
            }
            .shipping {
              @extend .billing-info;
              justify-content: space-between;
              .shipping-title {
                padding: 10px 0;
                font-weight: 500;
              }
              .shipping-text {
                color: var(--text-three-color);
              }
              .shipping-edit {
                color: var(--main-color);
                font-weight: 400;
                text-decoration: underline;
              }
            }
          }
          @media (max-width: 757px) {
            .more-billing-info {
              display: flex;
              flex-direction: column;
              gap: 40px;
            }
          }
        }
      }
    }
  }
}
