:root {
  --main-color: #3a0ca3;
  --scondary-color: #f2c855;
  --therd-color: #ff5e54;
  --four-color: #00c9b7;
  --bs-emphasis-color-rgb: #fff !important;
  --bs-heading-color: #fff;
  --bs-body-color: #ccc;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

.load-page {
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: fixed;
  display: flex;
  gap: 10px;
  height: 100vh;
  margin: auto;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  z-index: 10;
}

.load-page span {
  height: 50px;
  border: 3px solid #fff;
  width: 50px;
  border-radius: 50%;
  background-color: #222;
  transition: 0.3s;
  animation: load 1s ease infinite forwards;
}

.load-page span:nth-child(2) {
  animation-delay: 0.2s;
}

.load-page span:nth-child(3) {
  animation-delay: 0.4s;
}

.load-page span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes load {
  50% {
    background-color: #fff;
  }
  100% {
    animation-delay: 3s;
    background-color: #222;
  }
}

a {
  text-decoration: none !important;
}

.opacity {
  visibility: visible !important;
  position: relative !important;
  top: 0 !important;
  transition: 3s ease !important;
  opacity: 1 !important;
}
.opacity-two {
  visibility: visible !important;
  position: relative !important;
  bottom: -10rem !important;
  transition: 3s ease !important;
  opacity: 1 !important;
}

.landing {
  background-color: var(--main-color);
}

.landing .navbar {
  background-color: inherit !important;
}

.landing .navbar-toggler {
  outline: none;
  box-shadow: none;
  background-color: var(--scondary-color);
}
.event {
  transform: rotate(90deg);
  height: 0.5rem;
}
.landing .offcanvas {
  background-color: var(--scondary-color);
}

.landing .navbar .nav-link.active {
  color: #fff;
}

.landing .navbar .nav-link:hover {
  color: #fff;
}
@media (max-width: 992px) {
  .landing .navbar .nav-link {
    color: #000;
    padding: 0.5rem;
    font-weight: bold;
    transition: 0.5s;
  }
  .landing .navbar .nav-link:hover,
  .landing .navbar .nav-link.active {
    color: var(--main-color);
    padding-left: 1rem;
  }
  .accont .log-in {
    color: #fff !important;
    background-color: var(--main-color) !important;
  }
  .accont .sign-up {
    color: #fff !important;
    border-radius: 10px;
    background-color: var(--therd-color) !important;
  }
}

.accont .log-in {
  background-color: var(--scondary-color);
}

.landing-info .enroll {
  background-color: var(--scondary-color);
}

.landing-info .landing-heading {
  font-size: 4rem !important;
}
@media (max-width: 1200px) {
  .landing-info .landing-heading {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .landing-info .landing-heading {
    font-size: 2.5rem !important;
  }
  .landing-info .landing-paragh {
    width: 75% !important;
  }
}
.landing .svg .svg-1 {
  position: absolute;
  left: 5rem;
  bottom: 0;
  width: 90px;
}
.landing .svg .svg-2 {
  position: absolute;
  left: 8rem;
  bottom: -14px;
  width: 60px;
}
.landing .svg .svg-3 {
  position: absolute;
  right: 16rem;
  bottom: 1rem;
  width: 110px;
}

.landing .kids {
  height: 75vh;
}

.landing .img-kid-1 {
  width: 250px;
  height: 350px;
  border: 7px solid var(--scondary-color);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.landing .img-kid-2 {
  position: relative;
  bottom: -10rem;
  width: 250px;
  height: 350px;
  border: 7px solid var(--four-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.landing .img-kid-3 {
  position: relative;
  bottom: -10rem;
  width: 250px;
  height: 350px;
  border: 7px solid var(--therd-color);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.landing .img-kid-4 {
  width: 250px;
  height: 350px;
  border: 7px solid var(--scondary-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.landing .kid-top-2,
.landing .kid-top {
  position: relative;
  top: -10vh;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.landing .kid-down-2,
.landing .kid-down {
  position: relative;
  bottom: -15rem;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.landing .svg .svg-4 {
  position: absolute;
  left: 0rem;
  bottom: 0;
  width: 50px;
}
.landing .svg .svg-5 {
  position: absolute;
  left: 15rem;
  bottom: -8rem;
  width: 60px;
}
.landing .svg .svg-6 {
  position: absolute;
  right: 16rem;
  top: 1rem;
  width: 110px;
}
.landing .svg .svg-7 {
  position: absolute;
  right: 7rem;
  bottom: -8rem;
  width: 50px;
}

.subject .subject-heading {
  color: var(--therd-color);
}

.subject .svg-2 .svg-1 {
  position: absolute;
  left: 1rem;
  top: 0;
  width: 60px;
}
.subject .svg-2 .svg-2 {
  position: absolute;
  left: 4rem;
  top: 40px;
  width: 30px;
}
.subject .flask-icon {
  background-color: var(--scondary-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.subject .lang-icon {
  background-color: var(--main-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.subject .run-icon {
  background-color: var(--therd-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.subject .brain-icon {
  background-color: var(--four-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.subject .card {
  position: relative;
  margin: auto;
  transition: 0.5s;
  z-index: 1;
}
.subject .card:hover svg {
  background-color: white !important;
  color: var(--main-color);
  transition: 0.5s;
  animation: vibrate 0.3s ease-in-out forwards;
}
.subject .card:hover h5 {
  color: white !important;
  transition: 0.5s;
}
.subject .card:hover .card-text {
  color: #f4f4f4 !important;
  transition: 0.5s;
}
.subject .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: 0.5s;
  border-radius: 18px;
  z-index: -1;
}
.subject .card:hover::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subject .card:hover .flask-icon {
  color: var(--scondary-color) !important;
}
.subject .card:hover .lang-icon {
  color: var(--main-color) !important;
}
.subject .card:hover .run-icon {
  color: var(--therd-color) !important;
}
.subject .card:hover .brain-icon {
  color: var(--four-color) !important;
}
.subject .science::before {
  background-color: var(--scondary-color) !important;
}
.subject .language::before {
  background-color: var(--main-color) !important;
}
.subject .athletics::before {
  background-color: var(--therd-color) !important;
}
.subject .math::before {
  background-color: var(--four-color) !important;
}

.lines {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.2rem;
  right: -6rem;
  bottom: 0;
  list-style: none;
  transform: skew(-20deg, 10deg);
}
.lines li:first-child {
  width: 15px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(2) {
  width: 30px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(3) {
  width: 50px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(4) {
  width: 70px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(5) {
  width: 90px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(6) {
  width: 100px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(7) {
  width: 120px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(8) {
  width: 140px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(9) {
  width: 160px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}
.lines li:nth-child(10) {
  width: 180px;
  height: 4px;
  background-color: red;
  transform: skew(-13deg, -50deg);
}

@keyframes vibrate {
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}
.testimonial .testi-images {
  flex: 1;
}
.testimonial .img-testi-1 {
  width: 290px;
  height: 400px;
  border: 7px solid var(--therd-color);
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  transform: rotate(10deg);
}
.testimonial .img-testi-2 {
  position: relative;
  left: 8rem;
  bottom: -4rem;
  width: 200px;
  height: 280px;
  border: 7px solid var(--four-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-30deg);
  z-index: 1;
}
.testimonial .testi-info {
  flex: 1;
}

.testimonial .testi-heading {
  color: var(--therd-color);
}
.testimonial .nb-student {
  color: var(--therd-color);
}
.testimonial .nb-review {
  color: var(--main-color);
}

.qustions .qustion-heading {
  color: var(--therd-color);
}
.qustions .svg-2 .svg-3 {
  position: absolute;
  right: 1rem;
  top: 0;
  width: 60px;
}
.qustions .svg-2 .svg-4 {
  position: absolute;
  right: 4rem;
  top: 40px;
  width: 30px;
}
.qustions .card {
  margin: auto;
  transition: 0.5s;
}
.qustions .card:hover {
  border: none;
  box-shadow: 0 0 7px 0px #0000008f;
}
.qustions .rank-icon {
  background-color: var(--therd-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.qustions .roof-icon {
  background-color: var(--main-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.qustions .group-icon {
  background-color: var(--four-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.information .svg-2 .svg-5 {
  position: absolute;
  right: 45%;
  top: 0;
  width: 60px;
}
.information .svg-2 .svg-6 {
  position: absolute;
  right: 45%;
  top: 40px;
  width: 30px;
}
.information .accordion-item {
  border: none;
  border-bottom: 1px solid #757575;
}
.information .accordion-item .accordion-button {
  color: #000 !important;
}
.information .accordion-item .accordion-button::after {
  font: var(--fa-font-solid);
  content: "\f13a";
  font-family: "Font Awesome 5 Free";
  background-image: none;
  color: #757575;
}
.information .accordion-item .accordion-button[aria-expanded="true"]::after {
  color: var(--therd-color);
}
.information .accordion-item .accordion-button[aria-expanded="true"] {
  background-color: white;
}
.information .accordion-item .accordion-button[aria-expanded="false"] {
  background-color: white;
}
.information .accordion-item .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: white;
}

.information .info-heading {
  color: var(--therd-color);
}

.footer {
  background-color: var(--main-color);
}
.footer .footer-info .media .icons {
  background-color: #613eb5;
  color: var(--scondary-color);
  transition: 0.5s;
}
.footer .footer-info .media .icons:hover {
  background-color: var(--scondary-color) !important;
  color: var(--main-color) !important;
}
.footer a {
  color: var(--bs-body-color);
}
.footer a:hover {
  color: var(--scondary-color);
}
.footer .subscribe-email {
  position: relative;
}
.footer .subscribe-email input[type="email"] {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  caret-color: white;
  color: white;
  width: 17rem;
  height: 4rem;
}
.footer .subscribe-email input[type="email"]:focus {
  outline: none;
}
.footer .subscribe-email input[type="email"]::placeholder {
  transition: opacity 0.5s;
}
.footer .subscribe-email input[type="email"]:focus::placeholder {
  opacity: 0;
}
.footer .subscribe-email input[type="submit"] {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 20px;
  background-color: var(--scondary-color);
  border: none;
  border-radius: 7px;
}
@media (max-width: 767px) {
  .footer .footer-subscribe {
    text-align: center;
  }
  .footer .subscribe-email input[type="submit"] {
    right: 6rem;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 576px) {
  .footer .subscribe-email input[type="email"] {
    width: 14rem;
  }
  .footer .subscribe-email input[type="submit"] {
    right: -2rem;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer .copywriting {
  background-color: var(--scondary-color);
  color: #000;
  font-family: sans-serif;
}
.footer .copy-link {
  color: #000;
  padding-right: 10px;
  border-right: 1px solid black;
}
.footer .copy-link:hover {
  color: var(--therd-color);
}
