* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #bc2666;
  --scondry-color: #f6d7d6;
  --text-color: #aeaeae;
  --line-color: #cdcdcd;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.sign {
  position: relative;
  max-height: 100vh;
  background-color: var(--scondry-color);
  display: flex;
}
@media (max-width: 1200px) {
  .sign {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (max-width: 768px) {
  .sign {
    background-color: white;
  }
}
.sign .div-one {
  position: relative;
  flex: 1;
  padding: 0 20px;
}
@media (max-width: 992px) {
  .sign .div-one {
    display: none;
  }
}
.sign .div-one .logo .svg-logo {
  width: 50px;
  height: 90px;
}
.sign .div-one .heading-text {
  font-size: 27px;
  color: var(--main-color);
  padding-left: 30px;
  font-weight: 500;
  width: 500px;
}
.sign .div-one .svg {
  width: 800px;
  position: absolute;
  z-index: 999;
}
@media (max-width: 1200px) {
  .sign .div-one .svg {
    width: 650px;
  }
}
.sign .div-two {
  flex: 1;
  position: relative;
  height: 100vh;
  background-color: white;
  border-top-left-radius: 30%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 992px) {
  .sign {
    display: flex;
  }
}
@media (max-width: 768px) {
  .sign .div-two {
    padding: 20px 3px;
  }
}
.sign .div-two .account-head {
  font-size: 26px;
  color: var(--main-color);
  font-weight: 900;
  padding-bottom: 10px;
  margin-top: 30px;
  padding-left: 60px;
}
@media (max-width: 768px) {
  .sign .div-two .account-head {
    padding: 0;
    text-align: center;
  }
}
.sign .div-two form {
  padding-left: 70px;
}
@media (max-width: 768px) {
  .sign .div-two form {
    padding-left: 0;
  }
}
.sign .div-two form .user-box {
  position: relative;
}
.sign .div-two form input:not([type="checkbox"]) {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--line-color);
  transition: 0.3s;
}
.sign .div-two form input:focus,
.sign .div-two form input:valid {
  outline: none;
  border-color: var(--main-color);
}
.sign .div-two .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-color);
  pointer-events: none;
  transition: 0.5s;
}
.sign .div-two .user-box input:not([type="checkbox"]):focus ~ label,
.sign .div-two .user-box input:not([type="checkbox"]):valid ~ label {
  top: -20px;
  left: 0;
  color: var(--main-color);
  font-size: 12px;
}

.sign .div-two form > div {
  position: relative;
}
.sign .div-two form > div .acc {
  position: relative;
  padding-left: 25px;
}
.sign .div-two form > div input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.sign .div-two form > div .acc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 14px;
  height: 14px;
  border: 2px solid var(--scondry-color);
  background-color: #fff;
}
.sign
  .div-two
  form
  > div
  input[type="checkbox"]:not(:checked):hover
  + .acc::after,
.sign .div-two form > div input[type="checkbox"]:checked + .acc::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  box-shadow: 0 0 5px 1px var(--main-color);
}
.sign
  .div-two
  form
  > div
  input[type="checkbox"]:not(:checked):hover
  + .acc::after {
  opacity: 0.2;
}
.sign .div-two form > div .acc a {
  color: var(--main-color);
  text-decoration: underline;
}
.sign .div-two form > div .acc {
  color: var(--text-color);
}
.sign .div-two .sign-in {
  margin-left: 60px;
  padding: 10px 30px;
  background-color: var(--main-color);
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 22px;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .sign .div-two .sign-in {
    margin-left: 0;
  }
}
.sign .div-two .text-sign-or {
  position: relative;
  text-align: center;
  color: var(--text-color);
}
.sign .div-two .text-sign-or::before {
  content: "";
  position: absolute;
  left: 100px;
  top: 7px;
  height: 1px;
  width: 120px;
  background-color: var(--line-color);
}
.sign .div-two .text-sign-or::after {
  content: "";
  position: absolute;
  right: 100px;
  top: 7px;
  height: 1px;
  width: 120px;
  background-color: var(--line-color);
}
@media (max-width: 768px) {
  .sign .div-two .text-sign-or::after {
    right: 20px;
    width: 70px;
  }
  .sign .div-two .text-sign-or::before {
    left: 20px;
    width: 70px;
  }
}
.sign .div-two .links {
  display: flex;
  justify-content: center;
}
.sign .div-two .links ul {
  display: flex;
  gap: 20px;
}
.sign .div-two .links ul > li {
  border: 1px solid var(--scondry-color);
  padding: 10px 13px;
  border-radius: 50%;
  transition: 0.5s;
}
.sign .div-two .links ul > li:hover {
  background-color: var(--main-color);
}
.sign .div-two .have-account {
  color: var(--text-color);
  text-align: center;
  text-decoration: underline;
}
.sign .div-two .have-account a {
  color: var(--main-color);
  text-align: center;
  text-decoration: underline;
}
